* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat;
    font-size: 16px;
}
.ah-page_v1{
    display: grid;
}
.ah-header_v1 {
    width: 100%;
    height: 8.125rem;
    background-color: #393535;
    position: sticky;
    top: 0;
    display: grid;
    grid-template-columns: 30% 70%;
}
.ah-logo-header_v1{
    border: 1px solid rgb(252, 6, 6);
    top: 1rem; 
    
}
.ah-logo-header_v1 img{
    position: absolute;
    width: 20.71rem;
    height: 7.3rem;
    left: 1.2rem;
}
.ah-link-header_v1{
    padding: 1rem;
    justify-content: space-around;
    display: flex;
    align-items: center;
    border: 1px solid rgb(17, 200, 10);  
}
.ah-link-nav_v1{
    color: white;
    padding: .875rem 1.56rem;
    text-align: center;
    text-decoration: none;
    width: 12.8rem;
    height: 3.75rem;
    background: #393535;
    border: 1px solid #FFD600;
    box-sizing: border-box;
    box-shadow: 0px 0.25rem 4.4rem rgba(0, 0, 0, 0.25);
    border-radius: .5625rem;
    font-style: normal;
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 1.9rem;
    text-transform: lowercase;
}
.ah-link-header_v1 a:hover{
    background-color: #FFD600;
    color: black;
}
.ah-con-1_v1{
    display: grid;
    background-color: #2B2727;
    height: 55.875rem;
}
.ah-footer_v1{
    text-align: center;
    background-color: #393535;
    height: 10rem;
}