*{
    margin: 0;
    padding: 0;
	  box-sizing: border-box;
    text-decoration: none;
}

body{
    background-image: url(https://miro.medium.com/max/690/0*BbEpyjlvuOup5LIc.jpeg);
    background-repeat: repeat-x;
    background-size: 100% 100%;
}

.header{
    background-color: rgb(66, 65, 65);
    background-size: cover;
    z-index: 12;
}

.container-1, .logo, .head-contacts{
    padding: 1px;
    border: 1px solid silver;
}

.google{
    text-align: center;
    border: 1px solid red;
    line-height: 90px;
    color: #FFFFFF;
    font-size: 25px;

}
.email-phone{
    border: 1px solid rgb(64, 209, 7);
    line-height: 90px;
    color: #FFFFFF;
    font-size: 25px;
}
.phone {
    border: 1px solid rgb(64, 209, 7);
    color: #FFFFFF;
    font-size: 25px;
}
.nav-1 {
	background-color: rgb(66, 65, 65);
	border: 1px solid rgb(37, 7, 209);
	vertical-align: center;
}

.nav-1 a{
    color: #FFFFFF;
    font-size: 20px;
}
.menu {
    padding: 0;
    margin: 0 0 10px 0;
    position: relative;
}
.nav-2 {
    color: #FFFFFF;
    margin: 0 auto;
    font-size: 50px;
    display: block;
}

.nav-2 li {
    font-size: 50px;
    display: block;
}

.nav-2 li a {
	color: transparent;
	display: block;
	text-transform: uppercase;
	text-shadow: 0 0 5px #FFFFFF;
	letter-spacing: 1px;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.nav-2:hover li a {
	text-shadow: 0 0 5px #0d1a3a;
}

.nav-2 li a:hover {
	color: #FFFFFF;
	text-shadow: 0 0 1px #FFFFFF;
	padding-left: 10px;
}

.about-us {
    padding: 1px;
    border: 1px solid rgb(37, 7, 209);
    background-color: #FFFFFF;
    display: flex;
}

.text-us {
    border: 1px solid red;
}

.text-us h2 {
    text-align: center;
    font-size: 35px;
    font-family: Arial, sans-serif;
}
.text-us p {
    font-size: 20px;
	font-family: Arial, sans-serif;
}

.img-laptop {
    border: 1px solid red;
	width: 100%;
}

.specialists{
    display: flex;
    background-color: rgb(5, 5, 5);
    border: 1px solid rgb(241, 63, 63);
    align-items: center;
} 
.specialists div{
    padding: 10px;
    border: 1px solid silver;
}
.text-specialists{
    text-align: left;
    color: rgb(251, 249, 249);
}
.specialists picture{
    
}

.title-team {
    padding: 1px;
    border: 1px solid rgb(209, 7, 68);
    background-color:rgb(251, 252, 253);
    text-align: center;
}
.conteynre-3 {
    padding: 10px;
    border: 1px solid rgb(7, 247, 59);
    background-color:rgb(255, 254, 254);
	width: 100%;
}

.person {
    padding: 10px;
    border: 1px solid rgb(11, 7, 247);
    text-align: center;
}
.about-person {
    font-size: 20px;
    font-style: Arial, sans-serif;
    background-color: brown;
}
.button-person {
    display: inline-block;
    background: #0687f8;
    font-size: 20px;
    color: #FFFFFF;
    padding: 1rem 1.5rem;
    text-decoration: none;
    border-radius: 3px;
}

.portfolio {
    padding: 1px;
    border: 1px solid rgb(179, 7, 209);
    background-color:rgb(251, 252, 253);
    text-align: center;
}
.conteynre-4{
    display: flex;
    background-color: rgb(248, 248, 248); 
}
.conteynre-4 div{
    padding: 10px;
    border: 1px solid silver;
}
.site-1, .site-2, .site-3, .site-4, .site-5{
    flex: 1;
    text-align: center;
}
.button-site {
    display: inline-block;
    background: #0687f8;
    font-size: 20px;
    color: #FFFFFF;
    padding: 1rem 1.5rem;
    text-decoration: none;
    border-radius: 3px;
}

.contacts-team{
    display: flex;
    background-color: rgb(251, 251, 251);
    
}
.contacts-team div{
    padding: 10px;
    border: 1px solid rgb(37, 7, 209);
}
.registration{
    display: table-cell;
    flex: 3;
}
.write-me{
    flex: 4;
}


tbody,  table, td, th {  
    border: 1px solid #ddd;
    text-align: center;
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    padding: 15px;
    width: 2%;
  }

.footer {
    background-color: rgb(66, 65, 65);
    background-size: cover;
}
.container-2 {
    border: 1px solid rgb(37, 7, 209);
}

.address, .new-customer, .regular-customer {
	border: 1px solid rgb(37, 7, 209);
	text-align: left;
	height: 100%;
}



