.header{
    position: sticky;
    top: 0;
    background-color: #393535;
    align-items: center;
    display: flex;
    max-width: 100%;
    height: fit-content;
  /*min-height: auto;*/ /*аналог верхньої строки*/
   /*заміни на потрібний*/
    align-items: center;
    flex-direction: row;
}

.ah-headerlogo_v1{
    border: 1px solid rgb(2, 132, 253);
    flex: 30%;
}
.ah-headerlogo_v1 img{
    width: 25rem;
    height: 7.4rem;
}
.ah-botthon-link_v1{
    border: 1px solid rgb(2, 253, 23);
    flex: 70%;
    padding: 0rem 0rem; 
    text-align: center;
    
}
.ah-botthon-link_v1 a{
    margin: 1rem 1rem;
}
a:link, a:visited {
    border: 1px solid #FFD600;
    background-color: #393535;
    color: white;
    font-size: 1.8rem;
    padding: 0.3rem 2.2rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 0.56rem;
  }
  
  a:hover, a:active {
    background-color: #FFD600;
    color: black;
  }
  