*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    
}
body{
    background-image: url(https://miro.medium.com/max/690/0*BbEpyjlvuOup5LIc.jpeg);
    background-repeat: repeat-x;
    background-size: 100% 100%;
    
}

.header{
    justify-content: space-between;
    background-color: rgb(66, 65, 65);
    width: 100%;
    height: 120px;
    background-size: cover;
    top: 100px;
    z-index: 12;
    
}

.container-1, .logo, .head-contacts{
    display: flex;
    padding: 1px;
    border: 1px solid silver;
}
.logo{
    flex: 1;
}
.head-contacts{
    flex: 8;
}
.google{
    display: flex;
    text-align: center;
    border: 1px solid red;
    flex: 5;
    position: absolute; 
    left: 92%;
    line-height: 90px;
    color: #fff;
    font-size: 25px;

}
.email{
    display: flex;
    text-align: center;
    border: 1px solid rgb(64, 209, 7);
    flex: 5;
    position: absolute; 
    left: 20%;
    line-height: 90px;
    color: #fff;
    font-size: 25px;
}
.phone{
    display: flex;
    text-align: center;
    border: 1px solid rgb(64, 209, 7);
    flex: 7;
    position: absolute; 
    left: 45%;
    line-height: 90px; 
    color: #fff;
    font-size: 25px;
}
.nav-1{
  display: flex;
  border: 1px solid rgb(37, 7, 209);
  align-items: center;
  justify-content: space-around;
}
.nav-1 a{
    font-family: Arial;
    color: #fff;
    font-size: 20px;
}
.menu{
    padding: 0px;
    margin: 0 0 10px 0;
    position: relative;
}
.nav-2{
    font-family: 'Josefin Slab', Arial, sans-serif;
    color: #fff;
    position:relative;
    width:580px;
    margin: 0 auto;
    font-size: 50px;
    display: block;
}
.nav-2 li{
    font-size: 50px;
    display: block;
}
.nav-2 li a{
	color: transparent;
	display: block;
	text-transform: uppercase;
	text-shadow: 0px 0px 5px #fff;
	letter-spacing: 1px;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.nav-2:hover li a{
	text-shadow: 0px 0px 5px #0d1a3a;
}
.nav-2 li a:hover{
	color: #fff;
	text-shadow: 0px 0px 1px #fff;
	padding-left: 10px;
}
.about-us{
    display: flex;
    padding: 1px;
    border: 1px solid rgb(37, 7, 209);
    background-color:#fff;
    align-items: center;
    justify-content: space-around;
}
.text-us{
    flex: 2;
    border: 1px solid red;
}
.text-us h2{
    text-align: center;
    font-size: 35px;
    font-family: Arial;
}
.text-us p{
    font-size: 20px;
    font-family: Arial;
}
.img-laptop{
    border: 1px solid red;
    flex: 1;
}

.title-team {
    display: flex;
    padding: 1px;
    border: 1px solid rgb(209, 7, 68);
    background-color:rgb(251, 252, 253);
    align-items: center;
    justify-content: space-around;
}
.conteynre-3 {
    display: flex;
    padding: 10px;
    border: 1px solid rgb(7, 247, 59);
    align-items: stretch;
    justify-content: space-around;
    background-color:rgb(255, 254, 254);
}

.person1, .person2, .person3, .person4 {
    padding: 10px;
    border: 1px solid rgb(11, 7, 247);
    text-align: center; 
}
.about-person{
    font-size: 20px;
    font-style: Arial, sans-serif;
    background-color: brown;
}
.button-person{
    display: inline-block;
    background: #0687f8; 
    font-size: 20px;
    font-style: Arial, sans-serif;
    color: #fff; 
    padding: 1rem 1.5rem; 
    text-decoration: none; 
    border-radius: 3px; 
}

.portfolio {
    display: flex;
    padding: 1px;
    border: 1px solid rgb(179, 7, 209);
    background-color:rgb(251, 252, 253);
    align-items: center;
    justify-content: space-around;
}




.foother {
    background-color: rgb(66, 65, 65);
    width: 100%;
    height: 80px;
    background-size: cover;
   
    left: 0;
}
.container-2{
    display: flex;
    border: 1px solid rgb(37, 7, 209);
    align-items: center;
    justify-content: space-around;
    
}

