* {
	margin: 0;
	padding: 0;
}

/*Базовий шрифт*/
html {
	font-size: 16px;
}

body {
	box-sizing: border-box;
}

.ah-container {
	max-width: 100%;
	min-height: auto;
	background-color: #2B2727;
}

.ah-row {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;
}

/*Для розробника сайдбару*/
.ah-sidebar {
	display: flex;
	max-width: 100%;
	flex-direction: row;
	flex: 20%;
	border: 1px solid #FFD600; /*тільки для розробки*/
}

/*Для розробника сайдбару*/
.ah-sidebar h2 {
	color: #FFD600;
}

.ah-library-info {
	display: flex;
	flex: 80%;
	max-width: 100%;
	flex-direction: column;
	padding-left: 2.19rem;
	padding-bottom: 5.25rem;
	border: 1px solid #FFD600; /*тільки для розробки*/
}

.ah-library-info__title,
.ah-library-info__setup,
.ah-library-info__use {
	max-width: 76%;
}

.ah-library-info__title {
	margin-top: 5.25rem;
}

.ah-library-info h1 {
	font-family: "Rubik", sans-serif;
	color: #FFD600;
	font-style: normal;
	font-weight: 600;
	font-size: 2.81rem;
	line-height: 53.32px;
}

.ah-library-info h2 {
	font-family: "Montserrat", sans-serif;
	color: #FFD600;
	font-style: normal;
	font-weight: 300;
	font-size: 2.18rem;
	line-height: 42.67px;
	margin: 1.87rem 0;
}

.ah-library-info p {
	font-family: "Montserrat", sans-serif;
	color: #FFFFFF;
	font-style: normal;
	font-weight: 300;
	font-size: 1.25rem;
	line-height: 24.38px;
}


