body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}

/*--Задає ширину і колір всього контейнеру--*/
.ah-container {
  max-width: 100%;
  min-height: auto;
  background-color: #2b2727;
  padding: 1rem 0 5rem 0;
}

/*Центрує блок із зображеннями і робить перенос блоків при зменшенні екрану*/
.wraper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/*Стилі для Заголовка-2*/
h2 {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-size: 2.81rem;
  font-weight: 600;
  line-height: 3.33rem;
  color: #ffd600;
  text-align: center;
}

/*Налаштування блоків фігури для зображення*/
.ah-img-holder {
  max-width: 30rem;
  min-height: auto;
  margin: 1.5rem 1.5rem;
  display: flex;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border: 2px solid #ffd600;
  box-shadow: 6px 6px 23px rgba(0, 0, 0, 0.74);
  font-size: 0.8rem;
}

/*Показує ah-img-block при наведенні*/
.ah-img-holder:hover .ah-img-block {
  display: block;
}

/*Налаштування розміру і форми зображення в фігурі*/
.ah-img-holder img {
  width: 100%;
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
}

/*Налаштування вспливаючого вікна з текстом і кнопкою*/
.ah-img-block {
  width: 30rem;
  min-height: auto;
  position: absolute;
  align-self: flex-end;
  background: #ffd600;
  display: none;
  text-align: center;
  box-shadow: 6px 6px 23px rgba(0, 0, 0, 0.74);
}

/*Центрує і вирівнює простір між текстом і кнопкою блоку ah-img-block*/
.ah-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem;
}

/*Налаштування кнопки виключно для цієї сторінки*/
.ah-btn_ignore {
  background: #2a2727;
  padding: 0.5rem 1rem;
  border: 1px solid #ffd600;
  border-radius: 8px;
  text-align: center;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 0.8;
  color: #ffffff;
  box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
}

/*Зміна кольорів кнопки при наведенні*/
.ah-btn_ignore:hover {
  background-color: #ffd600;
  color: #2a2727;
  border: 1px solid #2a2727;
}
