* {
    margin: 0;
    padding: 0;
}
html,
body {
    height: 100%;
}
.ah-wrapper-ftr {
    min-height: 100%;
    display: flex;
    flex-direction:  column;
}
.ah-main-ftr {
    flex: 1 1 auto;
}
.ah-footer {
    display:  flex;
    background-color: #393535;
    color: #ffffff;
    padding: 1em;
    flex-shrink: inherit;
    flex-direction:  row;

}

.ah-container-ftr_0{
    flex:  1.5;
}
.ah-container-ftr_1{
    flex:  1.5;
    flex-direction:  row;

}
.ah-container-ftr_2{
    flex: 2;
}
