body {
	font-family: 'Arial Rounded MT Bold', sans-serif;
	font-size: 17px;
	color: white;
	font-style: italic;
	background: url('https://image.freepik.com/free-vector/white-abstract-background_23-2148810113.jpg') center center/cover no-repeat;
}

select {
	width: 175px;
}


.form {
	margin-left: auto;
	margin-right: auto;
	width: 350px;
	text-align: left;
	background-color: darkcyan;
	
}

.mb {
	margin-bottom: 10px;
}

.mt {
	margin-top: 10px;
}

.bs {
	box-shadow: rgba(0, 0, 0, 0.75) 0 5px 15px;
	margin-top: 20px;
	border-radius: 5px;
	padding: 20px;
}
