body {
	font-family: 'Arial Rounded MT Bold', sans-serif;
	font-size: 17px;
	color: white;
	text-align: center;
	background-color: darkcyan;
	font-style: italic;
	background: url('https://image.freepik.com/free-vector/white-abstract-background_23-2148810113.jpg') center center/cover no-repeat;
}

select {
	width: 175px;
}


.form {
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
	min-height: 100vh;
	box-shadow: rgba(0, 0, 0, 0.75) 0 5px 15px;
	margin-top: 20px;
	border-radius: 5px;
	padding: 20px;
	width: 350px;
	text-align: left;
	background-color: darkcyan;
	
}

.mb {
	margin-bottom: 10px;
}

.mt {
	margin-top: 10px;
}

.bs {
	box-shadow: rgba(0, 0, 0, 0.95) 0 5px 15px;
	margin-top: 10px;
	border-radius: 5px;
	padding: 15px;
}

.btn {
	height: 30px;
	border: 1px solid black;
	border-radius: 4px;
}

.in {
	box-shadow: rgba(0, 0, 0, 0.75) 0 5px 15px;
	height: 20px;
	border: 1px solid black;
	border-radius: 4px;
}

.btn:hover {
	background: rgba(0, 0, 0, 0);
	color: white;
	box-shadow: inset 0 0 0 3px #3a7999;
}
