* {
    margin: 0;
    padding: 0;
}
html,
body {
    height: 100%;
}
.ah-wrapper-ftr {
    min-height: 100%;
    display: flex;
    flex-direction:  column;
}
.ah-main-ftr {
    flex: 1 1 auto;
}

.ah-footer-container {
	max-width: 100%;
	background-color: #393535;
	min-height: auto;
}

.ah-row {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
}

.ah-footer-contacts {
	display: flex;
	flex-flow: column nowrap;
	max-width: 100%;
	margin-top: 1.81rem;
	margin-bottom: 1.93rem;
	color: white;
}