body {
  font-family: "Mulish", sans-serif;
  background-color: #fff;
  margin: 0;

}
.line {
  border-top: 1px solid rgb(76, 0, 255);
}

/*header*/
.header {
  background-color: rgb(47, 111, 131);
  width: 120%;
  height: 130px;
  position: fixed;
  padding-top: 0%;
  }
  .headerImg {
      margin: 5px;   
      position: fixed;
      left: 40px;
      top: 0px;
      z-index: 1;
  }


/*1 heading*/
.H1 {
  font-size: 50px;
  font-weight: 900px;
  padding: 0px 100px 80px 380px;
  color: #fff;
  }

/*main container*/
.main_container {
  background-color: rgb(240, 240, 240);
  padding-top: 160px;
  padding-left: 50px;
  margin-left: 200px;
}

/*text*/
text {
  margin-left: auto;
  margin-right: auto;
}

/*right sidebar*/
.left_sidebar {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 130px;
  left: 0;
  background-color: rgb(0, 48, 63);
  overflow-x: hidden;
  padding-top: 30px;
}

.left_sidebar a {
  padding: 0px 8px 6px 0px;
  text-decoration: none;
  font-size: 18px;
  color: #818181;
  display: block;
}

.left_sidebar a:hover {
  color: #f1f1f1;
}

.ul_none {
  list-style-type: none;
}

/*table*/
table {
  width: 50%;
  border: 2px solid rgb(1, 112, 146);
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(193, 221, 230);
}

th {
  padding: 10px;
  border: 2px solid rgb(1, 112, 146);
}

td {
  padding: 10px;
  border: 2px solid rgb(1, 112, 146);
}

.footer {
  height: 40px;
  margin-left: 200px;
  text-align: center;
}