* {
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Roboto', sans-serif;
}

span {
    border: 1px solid silver;
    margin-bottom: 1%;
    height: 30%;
}

.wraper{
    background-color: #FFDEE9;
    background-image: linear-gradient(0deg, #FFDEE9 0%, #B5FFFC 100%);   
}

.display_description {
    margin-top: 5px;
    text-align: center;
    padding-bottom: 10px;
}

.d_example_description{
    text-align: center;
    padding: 10px 10px;
}

.d_example_text{
    text-align: justify;
    margin: 10px 10px;
}

.d_examples {
    margin: 20px auto 0 70px;
    width: 80%;
    border: 4px solid rgba(5, 43, 1, 0.589);
    border-radius:  20px;
    padding: 10px 10px 10px 20px;
}

.block1 span {
    background-color: red;
    width: 100%;   
    margin-top: 5px;
}

.block2 span {
    background-color: green; 
    width: 70%;  
}

.block3 span {
    background-color: plum; 
    width: 50%;  
}

.description_display_block span {
    display: block;
} 

.description_display_inline div{
    display: inline;
}

.description_display_inline-block div {
    display: inline-block;
    height: 50px;
} 

.description_display_table span {
    display: table-cell;
}

.description_d_inline-flex div {
    display: inline-flex;
}

.description_d_flex div {
    display:flex;
   justify-content: center;
}

.description_d_list span {
    display: list-item;
}

.description_d_none {
    display: none;
}