* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
}

.ah-container {
  max-width: 100%;
  min-height: auto;
  background-color: #2b2727;
}

.ah-row {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
}

.squad-img {
  display: flex;
  width: 65%;
  padding: 7.2rem 0 4.5rem 0;
}

.squad-unit {
  display: flex;
  justify-content: center;
  padding-bottom: 6.75rem;
  font-size: 2rem;
  font-style: normal;
  font-weight: 300;
  line-height: 2.3rem;
}

.squad-unit-lt {
  padding-right: 2.3rem;
}

.squad-unit-rt {
  border-left: 5px solid #ffd600;
  padding-left: 2.3rem;
}

/* -- прибирає значки списку -- */
.ah-lst-tp_n {
  list-style-type: none;
}

/* -- вирівнювання тексту по лівому краю -- */
.ah-txt-algn_lt {
  text-align: left;
}

/* -- вирівнювання тексту по правому краю -- */
.ah-txt-algn_rt {
  text-align: right;
}

/* -- колір тексту білий -- */
.ah-clr_w {
  color: #ffffff;
}
